* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
    background-color: whitesmoke;
}
.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 2px #01c2cf;
}
.signup-form h2{
    margin-bottom: 10px;
}
.css-typing p,h1 {
	border-right: 0.15em solid black;
	font-family: "Courier";
	font-size: 18px;
    font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
    margin-bottom: 10px;
}
.css-typing h1{
	font-size: 20px;
	font-weight: bold;
}
.css-typing p:nth-child(1) {
	width: 17em;
	-webkit-animation: type 3s steps(40, end);
	animation: type 3s steps(40, end);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.css-typing #username{
	width: 12em;
	-webkit-animation: type 3s steps(40, end);
	animation: type 3s steps(40, end);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.css-typing h1{
	width: 25em;
	-webkit-animation: type 3s steps(40, end);
	animation: type 3s steps(40, end);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}


.css-typing p:nth-child(2) {
	width: 11.5em;
	opacity: 0;
	-webkit-animation: type2 3s steps(40, end);
	animation: type2 3s steps(40, end);
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.css-typing p#telegramUsername{
	width: 18em;
	opacity: 0;
	-webkit-animation: type2 3s steps(40, end);
	animation: type2 3s steps(40, end);
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes type {
	0% {
		width: 0;
	}
	99.9% {
		border-right: 0.15em solid black;
	}
	100% {
		border: none;
	}
}

@-webkit-keyframes type {
	0% {
		width: 0;
	}
	99.9% {
		border-right: 0.15em solid black;
	}
	100% {
		border: none;
	}
}

@keyframes type2 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	99.9% {
		border-right: 0.15em solid black;
	}
	100% {
		opacity: 1;
		border: none;
	}
}

@-webkit-keyframes type2 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	99.9% {
		border-right: 0.15em solid black;
	}
	100% {
		opacity: 1;
		border: none;
	}
}

@keyframes type3 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes type3 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
@-webkit-keyframes blink {
	50% {
		border-color: tranparent;
	}
}

#input-container input#email, #input-container input#text {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
}
#input-container input[type = "submit"] {
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s;
    background-color: rgb(0, 86, 247);
}
#input-container input[type = "submit"]:hover{
    background-color: rgb(0, 17, 248);
}
.text_blue{
	color: rgb(0, 86, 247);
	font-weight: bold;
}